@charset "UTF-8";

@import url(../tela01.css);

:root{
    --corazulforte:#28315E;
    --corazulfraco:#1F327A;
    --corbranco:#F5F5F5;
    --corcinza:#D9D9D9;
    --corpreto:#292929; 

    --fonte-titulos: "stoke", verdana, helvetica, sans-serif; 
    --fonte-texto: "lintro", sans-serif;
    --fonte-extra: "trykker", arial;

    /*background-color: var(--corcinza);*/
}