@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Liter&family=Stoke:wght@300;400&family=Trykker&display=swap');
@import url(tela01.css);

:root{
    --corazulforte:#28315E;
    --corazulfraco:#1F327A;
    --corbranco:#F5F5F5;
    --corcinza:#D9D9D9;
    --corpreto:#292929; 

    --fonte-titulos: "stoke", verdana, helvetica, sans-serif; 
    --fonte-texto: "lintro", sans-serif;
    --fonte-extra: "trykker", arial;
}

body{
    justify-content: center;
    align-items: center;
}

label{
    margin: auto;
    padding: auto;
}

div{
    padding: 10px;
    margin: 10px;
    font-size: 20;
    font-family: var(--fonte-texto);
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

input#botao{
    background-color: var(--corazulfraco);
    color: var(--corbranco);
}

