@charset  "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Liter&family=Stoke:wght@300;400&family=Trykker&display=swap');

:root{
    --corazulforte:#28315E;
    --corazulfraco:#1F327A;
    --corbranco:#F5F5F5;
    --corcinza:#D9D9D9;
    --corpreto:#292929; 

    --fonte-titulos: "stoke", verdana, helvetica, sans-serif; 
    --fonte-texto: "lintro", sans-serif;
    --fonte-extra: "trykker", arial;

    /*background-color: var(--corcinza);*/
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: var(--corazulforte);
    color: var(--corbranco);
    padding: 2px;
}

header > h1{
    padding: 50px;
    font-size: 60px
}

h1{
    color: white;
}

nav{
   background-color: var(--corazulfraco);
   padding: 10px;
   box-shadow: 0px, 7px, 9px var(--corpreto);
   font-size: 20px;
}

nav > a{
    color: var(--corbranco);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s; 
}

nav > a:hover{
    background-color: var(--corazulforte);
    color: var(--corcinza);
}

main{
    margin: auto;
}

article{
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: var(--corcinza);
    padding: 20px;
    margin: 5px 70px 5px 70px;
    border-radius: 10px;
}

aside{
    margin: 70px;
    padding: 1%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fonte-titulos);
}

p{
    font-family: var(--fonte-texto);
    font-size: 18px;
}

footer{
    background-color: var(--corazulforte);
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--corcinza);
}