@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Liter&family=Stoke:wght@300;400&family=Trykker&display=swap');
@import url(../tela01.css); 


:root{
    --corazulforte:#28315E;
    --corazulfraco:#1F327A;
    --corbranco:#F5F5F5;
    --corcinza:#D9D9D9;
    --corpreto:#292929; 

    --fonte-titulos: "stoke", verdana, helvetica, sans-serif; 
    --fonte-texto: "lintro", sans-serif;
    --fonte-extra: "trykker", arial;
}

section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
}

.login-inicio{
    max-width: 620px;
    width: 70%;
    padding: 40px;
    background-color: var(--corcinza);
    border-radius: 12px;
    box-shadow: 0 8px 15px black;
    
}

.login-titulo{
    text-align: center;
    color: var(--corazulfraco);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.input-grupo{
    position: relative;
    margin-bottom: 20px;
}

.input-grupo .label{
    position: absolute;
    top: -16px;
    left: 12px;
    font-size: 17px;
    color: var(--corazulfraco);
    font-weight: 600;
} 

.input-grupo input{
    width: 275px;
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid var(--corbranco);
    border-radius: 8px;
    outline: none;
}

.nao-tem-cadastro{
    text-align: right;
    margin-bottom: 20px;
}

.nao-tem-cadastro a{
    font-size: 14px;
    color: var(--corazulforte);
    text-decoration: none;
}

.botao{
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: var(--corazulforte);
    color: var(--corbranco);
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}